.bookroom-container {
  margin-top: 20px;
}
.light-text {
  color: grey;
}

.bookroom-container .form-control {
  margin-bottom: 10px;
  
}
.search-button {
  width: 100%;
}

.bookroom-container .form-label {
  font-weight: bold;
}

.d-flex {
  display: flex !important;
}

.align-items-end {
  align-items: flex-end !important;
}

.card {
  text-align: center;
}

.card img {
  height: 150px;
  object-fit: cover;
}
.roo{
  position: relative;
  right: 7%;
}
